<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap uap3 rescap desktop">

	<Identity
	  Name="PlayniteFSEBridge"
	  Publisher="CN=leero"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>Playnite FSE Bridge</DisplayName>
		<PublisherDisplayName>leero</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Playnite FSE Bridge"
			  Description="Playnite FSE Bridge"
			  BackgroundColor="#000000"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#000000" />
			</uap:VisualElements>

			<Extensions>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="windows.gamingApp" Id="App" DisplayName="PlayniteFSEBridge" Description="Playnite FSE Bridge" PublicFolder="Public"/>
				</uap3:Extension>

				<desktop:Extension Category="windows.fullTrustProcess" Executable="Launcher.exe" />
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>